.appoinments-logo{      margin: 24px;  width: 68px;  height: 68px;  border-radius: 54%;}
.viewprofile{    padding: 18px;}
.viewdetails .viewprofile-name{    font-size: 17px;}
.headclr{color: #17a2b8;}
.viewdetails .user-daetails{font-size: 14px;}
.viewproright{    font-size: 12px;}
.activites{font-size: 20px;
    color: #17a2b8;}
    .profileviewed{font-size: 19px;
        font-weight: 600;
        color: #c77625;}
       .connectionname {font-size: 16px;
            font-weight: 600;
            color: #17a2b8;
        }