<div *ngIf="isviewporfile">
<main role="main" class="container-fluid">
<div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="pb-2 mb-0">New Appointments</h6>
        <div>


<div class="input-group mb-3">
  <h6 class="pb-2 mb-0 Corporate-s" >Corporate Search: &nbsp; </h6>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>




            <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark appoinments-navfilter">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Filter 1 <i class="fa fa-caret-down"></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Filter 1 <i class="fa fa-caret-down"></i></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Filter 1 <i class="fa fa-caret-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Filter 1 <i class="fa fa-caret-down"></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#">Filter 1 <i class="fa fa-caret-down"></i></a>
                            </li>
                     
                    </ul>
                    <form class="form-inline mt-2 mt-md-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                     <span>Sort By:</span> <div ngbDropdown class="d-inline-block">
                          <span class="appointments-tag" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></span>
                        <!-- <button class="btn btn-outline-primary" >Toggle dropdown</button> -->
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="sortby">
                          <button class="dropdown-item actionselect">Book Appointments</button>
                          <button class="dropdown-item actionselect">Message</button>
                          <button class="dropdown-item actionselect">View Profile</button>
                          <button class="dropdown-item actionselect" (click)="open(content)">Notes</button>
                          <button class="dropdown-item actionselect">Activities</button>
                          <button class="dropdown-item actionselect">Tags</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </nav>
              </header>
        <div class="media text-muted pt-3 border-bottom">
          <img data-src="https://www.w3schools.com/bootstrap/newyork.jpg" src="https://www.w3schools.com/bootstrap/newyork.jpg" alt="" class="mr-2 rounded appoinments-logo">
          <div class="media-body pb-3 mb-0 small lh-125 border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"><span>Full Name</span> &nbsp; <button type="button" class="btn btn-warning-topmatches">Top Matches</button></strong> 
              <span><a class="btn book-appoinments" href="#">
                <span><i class="fa fa-navicon"></i> Book Appointments</span>
              </a>


              <div class="row appointments-tagdropdown" >
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                      <span class="appointments-tag" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></span>
                    <!-- <button class="btn btn-outline-primary" >Toggle dropdown</button> -->
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item actionselect">Book Appointments</button>
                      <button class="dropdown-item actionselect">Message</button>
                      <button class="dropdown-item actionselect">View Profile</button>
                      <button class="dropdown-item actionselect" (click)="open(content)">Notes</button>
                      <button class="dropdown-item actionselect">Activities</button>
                      <button class="dropdown-item actionselect">Tags</button>
                    </div>
                  </div>
                </div>
              
                            </div>
              
              



            </span>
            </div>
            <span class="d-block">CEO</span>
            <span class="float-left">Globalnest Inc</span><span class="float-right">2 Appoinments Available</span>
          </div>
        </div>
        <div class="media text-muted pt-3 border-bottom">
            <img data-src="https://www.w3schools.com/bootstrap/newyork.jpg" src="https://www.w3schools.com/bootstrap/newyork.jpg" alt="" class="mr-2 rounded appoinments-logo">
            <div class="media-body pb-3 mb-0 small lh-125 border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark"><span>Full Name</span> &nbsp; <button type="button" class="btn btn-warning-topmatches">Top Matches</button></strong> 
                <span><a class="btn book-appoinments" href="#">
                  <span><i class="fa fa-navicon"></i> Book Appointments</span>
                </a>
  
  
                <div class="row appointments-tagdropdown" >
                  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <span class="appointments-tag" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></span>
                      <!-- <button class="btn btn-outline-primary" >Toggle dropdown</button> -->
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item actionselect">Book Appointments</button>
                        <button class="dropdown-item actionselect">Message</button>
                        <button class="dropdown-item actionselect">View Profile</button>
                        <button class="dropdown-item actionselect" (click)="open(content)">Notes</button>
                        <button class="dropdown-item actionselect">Activities</button>
                        <button class="dropdown-item actionselect">Tags</button>
                      </div>
                    </div>
                  </div>
                
                              </div>
                
                
  
  
  
              </span>
              </div>
              <span class="d-block">CEO</span>
              <span class="float-left">Globalnest Inc</span><span class="float-right">2 Appoinments Available</span>

            </div>
          </div>
          <div class="media text-muted pt-3 border-bottom">
              <img data-src="https://www.w3schools.com/bootstrap/newyork.jpg" src="https://www.w3schools.com/bootstrap/newyork.jpg" alt="" class="mr-2 rounded appoinments-logo">
              <div class="media-body pb-3 mb-0 small lh-125 border-gray">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-gray-dark"><span>Full Name</span> &nbsp; <button type="button" class="btn btn-warning-topmatches">Top Matches</button></strong> 
                  <span><a class="btn book-appoinments" href="#">
                    <span><i class="fa fa-navicon"></i> Book Appointments</span>
                  </a>
    
    
                  <div class="row appointments-tagdropdown" >
                    <div class="col">
                      <div ngbDropdown class="d-inline-block">
                          <span class="appointments-tag" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></span>
                        <!-- <button class="btn btn-outline-primary" >Toggle dropdown</button> -->
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item actionselect">Book Appointments</button>
                          <button class="dropdown-item actionselect">Message</button>
                          <button class="dropdown-item actionselect">View Profile</button>
                          <button class="dropdown-item actionselect" (click)="open(content)">Notes</button>
                          <button class="dropdown-item actionselect">Activities</button>
                          <button class="dropdown-item actionselect">Tags</button>
                        </div>
                      </div>
                    </div>
                  
                                </div>
                  
                  
    
    
    
                </span>
                </div>
                <span class="d-block">CEO</span>
                <span class="float-left">Globalnest Inc</span><span class="float-right">2 Appoinments Available</span>

              </div>
            </div>
            <div class="media text-muted pt-3 border-bottom">
                <img data-src="https://www.w3schools.com/bootstrap/newyork.jpg" src="https://www.w3schools.com/bootstrap/newyork.jpg" alt="" class="mr-2 rounded appoinments-logo">
                <div class="media-body pb-3 mb-0 small lh-125 border-gray">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark"><span>Full Name</span> &nbsp; <button type="button" class="btn btn-warning-topmatches">Top Matches</button></strong> 
                    <span><a class="btn book-appoinments" (click)="open(bookappointments)"> 
                      <span ><i class="fa fa-navicon"></i> Book Appointments</span>
                    </a>
      
      
                    <div class="row appointments-tagdropdown" >
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <span class="appointments-tag" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h"></i></span>
                          <!-- <button class="btn btn-outline-primary" >Toggle dropdown</button> -->
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item actionselect" (click)="open(bookappointments)">Book Appointments</button>
                            <button class="dropdown-item actionselect">Message</button>
                            <button class="dropdown-item actionselect" a routerLink="/userprofile" (click)="viewprofile()">View Profile</button>
                            <button class="dropdown-item actionselect" (click)="open(content)">Notes</button> 
                            <button class="dropdown-item actionselect">Activities</button>
                            <button class="dropdown-item actionselect">Tags</button>
                          </div>
                        </div>
                      </div>
                    
                                  </div>
                    
                    
      
      
      
                  </span>
                  </div>
                  <span class="d-block">CEO</span>
                  <span class="float-left">Globalnest Inc</span><span class="float-right">2 Appoinments Available</span>

                </div>
              </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>
    </main>

   <!-- popup -->
   <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Note</h4>
      <p class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </p>
    </div>
    <div class="modal-body">
     
                   
            <div *ngIf="!isOpened">
           <div>display</div>
            </div>
            <div *ngIf="isOpened">
                <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
                  </div>
            </div>

    </div>
    <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" *ngIf="!isOpened" (click)="addnote()">+ Add Note</button>
   <button type="button" class="btn btn-outline-dark" *ngIf="isOpened" (click)="modal.close('cancel click')">Cancel</button>
   <button type="button" class="btn btn-primary" *ngIf="isOpened" (click)="modal.close('Save click')">Save</button>
   
      
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>
<!-- add note end -->

<!-- book appoinments -->
<ng-template #bookappointments let-modal>
    <div class="modal-header header-bookappoinments">
      <h4 class="modal-title" id="modal-basic-title">Book Appoinments</h4>
      <p class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </p>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item">Appoinment with Jhon</li>
            <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i> Javits Center</li>
            <li class="list-group-item"><div><i class="fa fa-calendar" aria-hidden="true"></i> Date</div><div>18 March 2021</div></li>
            <li class="list-group-item">
               <p>Time Slots</p>
                <div class="timeslotsmain row">
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                  <div class="timeslots col-sm-4"><div class="btn btn-success">10:00AM-10:30AM</div></div>
                 


                </div>
            </li>
            
          </ul>
    </div>
    <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Cancel</button>
   <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
   
      
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
    </div>
  </ng-template>
<!-- book appoinments -->


</div>

  <section *ngIf="!isviewporfile">
      <router-outlet></router-outlet>
    </section>
 